<html>
<head>
    <title>Power Calculation</title>
</head>
<body style="text-align: center;
             background-color: #0f057c;
             padding: 20px;">
    <h1 style="background-color: #82a4e9; color: black; font-size: 80px;">Power of Lamp Filament</h1>
    <form method="POST" style="border: 10px;background-color: #82a4e9; display: inline-block;">
        {% csrf_token %}
        <div style="padding-left: 100px ;padding-right: 100px; padding-top: 100px; padding-bottom: 100px;">
        <label for="intensity" style="color: black; background-color:  rgb(243, 88, 119);font-size: x-large;" >Intensity (I) in amperes:</label><br>
        <input type="number" id="intensity" name="intensity" step="0.01" value="{{ intensity }}" required><br><br>
        
        <label for="resistance" style="color: black; background-color: rgb(243, 88, 119); font-size: x-large;">Resistance (R) in ohms:</label><br>
        <input type="number" id="resistance" name="resistance" step="0.01" value="{{ intensity }}" required><br><br>
        
        <input type="submit" value="Calculate" style="background-color: red; color: black; padding: 10px; cursor: pointer;"><br><br>
        
        <label for="power" style="color: black;">Power (P) in watts:</label><br>
        <input type="number" id="power" name="power" value="{{ power }}" readonly><br>
        </div>
    </form>
</body>
</html>
